H1 {
    color: aqua;
}
body{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: black;
    color: white;
    
}
div.container:hover{background-color: orange;}

.container {
    border: 5px solid white;
}