body{
    background-color: orange;
}
li{
    list-style: none;
    float: right;
padding: 10px;
    
    

}
div.container{
    background-color: black;
    border: 1px solid black;
    height: 97vh;
    width: 8vw;
    overflow: hidden;
    margin: 0px 100px;
    align-items: right;
    justify-content: right;
    justify-items: right;
    border-radius: 10px;
}
a{
    color: orange;
    text-decoration: none;
}
ul{
    transform: rotate(270deg);
    
    margin: 87vh -38vw;
}
img{
    height: 70px;
    width: 70px;
}